@font-face {
    font-family: 'Bold';
    src: url('../font/SourceHanSansCN-Bold/SourceHanSansCN-Bold.ttf')
  }
  @font-face {
    font-family: 'Normal';
    src: url('../font/SourceHanSansCN-Normal/SourceHanSansCN-Normal.ttf')
  }
  @font-face {
    font-family: 'Medium';
    src: url('../font/SourceHanSansCN-Medium/SourceHanSansCN-Medium.ttf')
  }
  @font-face {
    font-family: 'Regular';
    src: url('../font/SourceHanSansCN-Regular/SourceHanSansCN-Regular.ttf')
  }